@{
    ViewData["Title"] = "Home";
}



<div class="text-center">
    <h1 class="display-4">Bem vindo(a) ao seu portal de anúncios de veículos!</h1>
    <p>Este é um projeto em desenvolvimento para aprendizado, explore e teste as funcionalidades à vontade.</p>
</div>
