@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Atualmente, este aplicativo não possui um remetente de e-mail real registrado. Consulte <a href="https://aka.ms/aspaccountconf">esses documentos</a> para saber como configurar um remetente de email real.
    Normalmente, isso seria enviado por e-mail: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar sua conta</a>
</p>
    }
    else
    {
<p>
        Verifique seu e-mail para confirmar sua conta.
</p>
    }
}
